<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11833200663-i1nd0eb8ojti8j93svuhd34gk2tgq2nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11833200663-i1nd0eb8ojti8j93svuhd34gk2tgq2nq</string>
	<key>API_KEY</key>
	<string>AIzaSyAQfcYbtyme_zpcf_WSJ413XGtF5JCoAoE</string>
	<key>GCM_SENDER_ID</key>
	<string>11833200663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IchiLabs.PlayStop</string>
	<key>PROJECT_ID</key>
	<string>playstop-d40d8</string>
	<key>STORAGE_BUCKET</key>
	<string>playstop-d40d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11833200663:ios:becd31dbcce2c0ce9ecc52</string>
</dict>
</plist>